 <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Si planeas practicar el caravaning en Europa, pronto te propondremos interesantes ideas" /> 
    <meta name="keywords" content="camping, caravaning europa" /> 
    <title>Caravaning en Europa</title>
  </head>
  <body>
    <h4>Pensando en hacer caravaning en Europa?</h4>
    <p>Una de las mejores opciones para practicar el <strong>caravaning en Europa</strong> es Holanda y los paises de su alrededor.</p>
  </body>
</html>
