{% extends "base-expresiones.html" %}

{% block titulo %}
   {{ titulo }}
{% endblock %}

{% block descripcion %}
   {{ descripcion }}
{% endblock %}

{% block keywords %}
   {{ keywords }}
{% endblock %}

{% block cabecera %}
   {{ cabecera }}
{% endblock %}


{% block content %}
 
    <p class="parrafodos">El objetivo de esta página, "Tortuga Tomasa", está exento de lucro. Sólo se trata de un sandbox para probar desarrollos web, posicionamiento en buscadores, y otros aspectos técnicos. A través de ella no se ha ganado ni un solo céntimo de euro.</p>

    <p class="parrafodos"> El uso del nombre Tortuga Tomasa, o la imagen de que he adoptado como la de la Tortuga Tomasa no están registrados por mí ni poseo derecho alguno sobre ellos. Desconozco si estos derechos están en posesión de alguien, pero si así fuera, retiraría o modificaría cualquiera de ellos o cedería cualquier contenido si así me lo pidieran.</p>

	 <center>
    	 <a href="http://asalas.alwaysdata.net" title="Home tortuga Tomasa">+ Info en la home de la Tortuga Tomasa</a><br><br>
	 </center>
{% endblock %}
