{% extends "base-expresiones.html" %}

{% block titulo %}
   {{ titulo }}
{% endblock %}

{% block descripcion %}
   {{ descripcion }}
{% endblock %}

{% block keywords %}
   {{ keywords }}
{% endblock %}

{% block cabecera %}
   {{ cabecera }}
{% endblock %}


{% block content %}
 
    <p class="parrafodos">Aunque existen otras versiones circulando por la red, esta es la letra más conocida de la canción de la Tortuga Tomasa.</p>
<hr>
    <p class="parrafodos"> La Tortuga Tomasa viaja con su casa <br>
    	y aunque se retrasa, siempre llegará. <br>
    	La Tortuga Tomasa viaja con su casa <br>
    	y aunque se retrasa, siempre llegará. <br><br>
		Todas las mañanas la tenemos que esperar, <br>
		Que se pinte las pestañas con carbón del encinar <br>
		que se limpie las patitas con jazmín y flor de azahar <br>
		que se mire y se remire en el espejo por demás. <br><br>
		La Tortuga Tomasa viaja con su casa <br>
		y aunque se retrasa, siempre llegará. <br>
		La Tortuga Tomasa viaja con su casa <br>
		y aunque se retrasa, siempre llegará. <br><br>
		Todas las mañanas la tenemos que esperar, <br>
		que repase los deberes con su pluma de faisán <br>
		una hora de gimnasia con su footing matinal <br>
		desayune cinco almendras con un zumo de nogal. <br><br>
		La Tortuga Tomasa viaja con su casa <br>
		y aunque se retrasa, siempre llegará. <br>
		La Tortuga Tomasa viaja con su casa <br>
		y aunque se retrasa, siempre llegará. <br><br>
		Y una moraleja le tenemos que aguantar <br>
		cuando hay prisa andar despacio, nos repite sin cesar <br>
		caminando lentamente a la meta arribarás <br>
		es mejor llegar más tarde que quizás nunca llegar. <br><br>
		La Tortuga Tomasa viaja con su casa <br>
		y aunque se retrasa, siempre llegará. <br>
		La Tortuga Tomasa viaja con su casa <br>
		y aunque se retrasa, siempre llegará. <br>

	 <center>
    	 <a href="http://asalas.alwaysdata.net" title="Home tortuga Tomasa">+ Info en la home de la Tortuga Tomasa</a><br><br>
	 </center>
{% endblock %}

