{% extends "base-expresiones.html" %}

{% block titulo %}
   {{ titulo }}
{% endblock %}

{% block descripcion %}
   {{ descripcion }}
{% endblock %}

{% block keywords %}
   {{ keywords }}
{% endblock %}

{% block cabecera %}
   {{ cabecera }}
{% endblock %}


{% block content %}
 
    <p class="parrafodos">Dada la simpatía que suelen despertar las tortugas en general, y la Tortuga Tomasa en particular, existen
    	multitud de grupos que han adoptado la figura o el nombre de la tortuga Tomasa para referirse a asociaciones infantiles, 
    	clases de colegios y similares.</p>

    <p class="parrafodos"> Estos serían un par de ejemplos: <br>
    <a href="http://laclasedetomasa.blogspot.com.es/" title="Clase de la tortuga Tomasa">laclasedetomasa en blogspot</a><br>
    <a href="http://ganzo2012aulados.blogspot.com.es/2012/11/teresa-rabal-la-tortuga-tomasa.html" title="Clase de la tortuga Tomasa en aulados">ganzo2012aulados en blogspot</a><br><br>

    </p>

	 <center>
    	 <a href="http://asalas.alwaysdata.net" title="Home tortuga Tomasa">+ Info en la home de la Tortuga Tomasa</a><br><br>
	 </center>
{% endblock %}
