{% extends "base-expresiones.html" %}

{% block titulo %}
   {{ titulo }}
{% endblock %}

{% block descripcion %}
   {{ descripcion }}
{% endblock %}

{% block keywords %}
   {{ keywords }}
{% endblock %}

{% block cabecera %}
   {{ cabecera }}
{% endblock %}


{% block content %}
 
    <p class="parrafodos">La canción de la tortuga Tomasa fue cantada en los años 80 y 90 por Teresa Rabal. Aquí adjunto parte de su biografía, extraída de la Wikipedia:</p>

    <p class="parrafodos"> María Teresa Rabal Balaguer (n. Barcelona, España; 5 de noviembre de 1952), es una actriz, cantante y presentadora de televisión española. Es la cantante que más discos infantiles ha vendido en España con un total de 7 millones.

Hija de los actores Francisco Rabal y Asunción Balaguer, y tía de Liberto Rabal, desde sus primeros años se ve rodeada de un ambiente artístico que le permite debutar en el cine con tan sólo nueve años de la mano de Luis Buñuel en la película Viridiana (1961).

En 1967 se incorpora a la Compañía de teatro de Carlos Larrañaga y María Luisa Merlo, y debuta en un escenario con la obra Vidas privadas (1970), de Noël Coward, a la que seguirían, en años sucesivos, Strato Jet 991, dirigida por Fernando Fernán Gómez; Ninette y un señor de Murcia, de Miguel Mihura; La Celestina, de Fernando de Rojas o La Malcasada de Lope de Vega.

A principios de los años setenta inicia una discreta carrera cinematográfica, que le lleva a intervenir en una quincena de títulos entre 1969 y 1976, entre los que figuran La leyenda del alcalde de Zalamea (1972), de Mario Camus; Un casto varón español (1973), de Jaime de Armiñán o Ambiciosa (1975), de Pedro Lazaga.

Tras contraer matrimonio el 1 de mayo de 1977 con el cantante Luis Eduardo Rodrigo,2 se aparta de la gran pantalla, a la que sólo volvería en tres ocasiones: Esperando a papá (1980), de Vicente Escrivá, la película infantil Loca por el circo (1982) de Luis María Delgado y Muerte súbita (2002), de Pablo Guerrero.

Apartada del cine, su carrera como actriz continua en televisión, y en la época dorada de los dramáticos de TVE interpreta numerosos papeles en espacios como Estudio 1 y Novela. También realiza alguna incursión teatral, como la obra Las orejas del lobo (1980), de Santiago Moncada.

En 1980 publica su primer disco destinado al público infantil y en los años siguientes vuelca su carrera profesional hacia los más pequeños, y estrena 24 discos larga duración que llegan a vender un millón y medio de copias, haciendo famosas canciones como Veo Veo o Me pongo de pie.

Ese mismo año inicia una gira circense con El Circo de Teresa Rabal, con el que se mantiene durante más de una década.

En 1990, tras la llegada de las televisiones privadas, Teresa Rabal es contratada por Antena 3 para sustituir a Rita Irasema en el programa infantil La Guardería, en el que permanece hasta 1993. Ese año pasa a Telecinco, donde presenta durante una temporada La casa de la guasa, junto a Kike Supermix.

En 1995 crea los Premios Veo Veo, que pretenden fomentar las actividades culturales entre los niños y desde ese año hasta el 2010 cada año se celebran los festivales nacional,regional e internacional Veo Veo,además de estar al frente de la Fundación Teresa Rabal, de ayuda a la infancia. </p>

	 <center>
    	 <a href="http://asalas.alwaysdata.net" title="Home tortuga Tomasa">+ Info en la home de la Tortuga Tomasa</a><br><br>
	 </center>
{% endblock %}
