{% extends "base-expresiones.html" %}

{% block titulo %}
   {{ titulo }}
{% endblock %}

{% block descripcion %}
   {{ descripcion }}
{% endblock %}

{% block keywords %}
   {{ keywords }}
{% endblock %}

{% block cabecera %}
   {{ cabecera }}
{% endblock %}


{% block content %}
 
    <p class="parrafodos">Aunque no es oficial (ya que hay varias circulando por la red), esta sería la letra de la canción de la Tortuga Tomasa.</p>

    <p class="parrafodos"> La Tortuga Tomasa viaja con su casa <br>
    	y aunque se retrasa, siempre llegará. <br>
		Todas las mañanas la tenemos que esperar, <br>
		Que se pinte las pestañas con carbón del encinar. <br>
		Que se limpie las patitas con jabón y flor de azahar. <br>
		Que se mire y se remire en un espejo por demás. <br>
		La Tortuga Tomasa viaja con su casa <br>
		y aunque se retrasa, siempre llegará. <br>
		La Tortuga Tomasa mueve las patitas, <br>
		mueve la cabeza y se pone a andar. </p>

	 <center>
    	 <a href="http://asalas.alwaysdata.net" title="Home tortuga Tomasa">+ Info en la home de la Tortuga Tomasa</a><br><br>
	 </center>
{% endblock %}
