.parrafouno { font: italic bolder 15px Arial,Verdana,sans-serif ;
              color:green ; 
              margin-top:50px ; } 

/* font-family: Arial, Helvetica, sans-serif;  
   Si el usuario no tiene la priemera que indicamos, probamos con la segunda, y así hasta encontrar una */
.parrafodos { font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      /* text-align todas la líneas miden lo mismo */
      text-align: justify;
      /* text-indent indica que empieze un poco desplazado a la derecha */
      text-indent: 40px;
      /*margin: valorsuperior valorderecho valorinferior valorizquierdo ; */
      margin: 140px 150px 50px 140px ;
    }  

.parrafotres { color: blue ; 
	           background-color:silver ; 
               /* O bien sólo indicamos alguno: margin-top:10px ; margin-bottom:10px; margin-left:10px; margin-right:10px; */
	           margin-left:400px ; 
	           margin-right:150px ; 
	           /*padding: valorsuperior valorderecho valorinferior valorizquierdo ;*/
	           padding: 30px 50px 20px 90px ;
	           border-color:red ; 
	           border-width:20px ; 
	           border-style:double ;} 

.otroestilo { font-weight:bold ; 
	          font-size:22px ; 
	          color:red ; }
